@model AprendendoMVC.Models.UserViewModel

<section>
    <h1>Autentificação</h1>
    <form action="/" method="post">
        <input type="text" name="email" value="" placeholder="Username/E-mail"/>
        <input type="password" name="password" value="" placeholder="Senha"/>
        <a href="#">Esqueceu a senha?</a>

        <button>Login</button>
    </form>
    <label>Não tem conta?</label> <a href="#">Clique Aqui</a>
</section>