@model AprendendoMVC.Models.UserViewModel

<section>
    <h1>Autentificação</h1>
    <input type="text" name="email" value="" placeholder="Username/E-mail"/>
    <input type="password" name="password" value="" placeholder="Senha"/>
    <a href="#">Esqueceu a senha?</a>

    <button>Login</button>
    <label>Não tem conta?</label> <a href="#">Clique Aqui</a>
</section>