@model AprendendoMVC.Models.UserViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/login.js"></script>
<link href="~/css/login.css" rel="stylesheet" />

<section>
    <h1>Autentificação</h1>

    <form>
        <input type="text" id="email" name="email" value="@Model.Email" placeholder="Username/E-mail"/>
        <input type="password" required id="password" name="password" value="@Model.Password" placeholder="Senha"/>
        <a href="#">Esqueceu a senha?</a>
        <button type="submit" onclick="login(event);">Login</button>
    </form>
    <label>Não tem conta? <a href="#">Clique Aqui</a></label>
</section>

