section{
    border: 1px solid #000;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

form a{
    text-align: right;
}

input{
    margin-top: 20px;
}

button {
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: forestgreen;
    color: white;
}

label{
    margin-bottom: 30px;
}